body {
    padding: 0;
    margin: 0;
}

div.title{
    background-color: black;
    color: white;
    z-index: 1000;
    position: absolute;
    top: 0;
    width: 50px;
    height: 100vh;
    opacity: 0.5;
}

div.title h1{
    transform: rotate(270deg) translate(-380px,5px);
    white-space: nowrap;
}

.container-fluid{
    padding: 0;
}

.svg-container{
    padding-left: 0;
    min-height: 500px;
    height: 100vh;
    width: 100%;
}

.side-controls {
    height: 100vh;
    padding-left: 10px;
    padding-right: 0;
    padding-right: 0;
}

.visual-adjust{
    padding-top: 20px;
}

svg {
    border: solid #fff 0px;
    background-color: #83A2B8;
    background: -webkit-radial-gradient(#b8def1, #7ebad8);
    background: -o-radial-gradient(#b8def1, #7ebad8);
    background: -moz-radial-gradient(#b8def1, #7ebad8);
    background: radial-gradient(#b8def1, #7ebad8);
    border-right-style: ridge;
    border-right-width: 4px;
    border-right-color: #7ebad8;
}


.controls #reset {
    display: inline-block;
}

.detail {

}

svg *.labour { fill: #F00; }     /* Labour Party */
svg *.tory { fill: #33C; }       /* Conservative Party */
svg *.libdem { fill: #FC0; }     /* Liberal Democrat Party */
svg *.snp { fill: #FF0; }        /* Scottish National Party */
svg *.pc { fill: #6C3; }         /* Plaid Cymru */
svg *.sf { fill: #060; }         /* Sinn Féin */
svg *.sdlp { fill: #3C3; }       /* Social Democratic and Labour Party */
svg *.uup { fill: #99F; }        /* Ulster Unionist Party */
svg *.dup { fill: #C30; }        /* Democratic Unionist Party */
svg *.respect { fill: #F60; }    /* Respect Party (George Galloway) */
svg *.ind { fill: #C0C0C0; }     /* independent candidate */
svg *.green {fill: #0F0;}
svg *.seat { stroke: white; stroke-width: 0.2; }
svg *.ukip { fill: #7027C3;}
svg *.other {fill: #FAA51A;}


svg path:hover {
    opacity: 0.5;
}

svg path.selected:hover{
    opacity: 1;
}

svg.selected path:not(.selected) {
    opacity: 0.2;
}

.legend {
    padding-top: 10px;
}

.legend ul{
    list-style: none;
    padding-left: 0;
}

.legend ul li{
    line-height: 30px;
    font-size: 20px;
}

.legend ul li:before{
    content: ' \25CF';
    font-size: 20px;
}

.lab .progress-bar {
    background-color: #F00;
}
.con .progress-bar {
    background-color: #33C;
}
.libdem .progress-bar {
    background-color: #FC0;
}
.ukip .progress-bar {
    background-color: #7027C3;
}
.green .progress-bar {
    background-color: #0F0;
}
.snp .progress-bar {
    background-color: #FF0;
}
.pc .progress-bar {
    background-color: #6C3;
}
.other .progress-bar {
    background-color: #FAA51A;
}

.progress-bar{
    box-shadow: inset 0 -10px 0 rgba(0,0,0,.15);
}

.progress .dragging *{
    cursor: pointer;
}

.progress-bar.active{
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.nav.nav-tabs.tabs-left{
    height: 100vh;
    background-color: black;
    color: white;
    padding-left: 2px;
    padding-right: 0;
}

.controls .party-row{
    vertical-align: top;
    height: 40px;
    line-height: 35px;
    width: 100%;

}

.controls .party-row span.logo {
    display: inline-block;
    width: 40px;
    float: left;
}

.controls .party-row input {
    vertical-align: top;
    display: inline-block;
    width: 50px;
    border: none;
    padding: 0;
}

.controls .party-row .input:before {
    content: '%';
    font-size: 10px;
    position: absolute;
    left: 77px;
}


.controls .party-row span.progress {
    display: inline-block;
    width: 200px;
    height: 35px;
    margin: 0;
}

.controls .party-row span.value {
    display: inline;
    margin-top: -2px;
}

.controls .party-row .handle {
    height: 35px;
    line-height: 35px;
    width: 8px;
    background-color: #3D3D3D;
    color: white;
    font-size: 8px;
    float: right;
    cursor: pointer;
}
