body {
    padding: 10px;
}

.controls {
    position: absolute;
    top: 70px;
    right: 15px;
    width: 400px;
    height: auto;
    opacity: .6;
}

.mapContainer {
    border: solid black 1px;
    background-color: lightblue;
    margin: 40px;
    padding: 2px;
}

input[type=range] {
    width: 300px;
}

.slider-and-output input, output {
    display: inline-block;
}

svg path.labour { fill: #F00; }     /* Labour Party */
svg path.tory { fill: #33C; }       /* Conservative Party */
svg path.libdem { fill: #FC0; }     /* Liberal Democrat Party */
svg path.snp { fill: #FF0; }        /* Scottish National Party */
svg path.pc { fill: #6C3; }         /* Plaid Cymru */
svg path.sf { fill: #060; }         /* Sinn Féin */
svg path.sdlp { fill: #3C3; }       /* Social Democratic and Labour Party */
svg path.uup { fill: #99F; }        /* Ulster Unionist Party */
svg path.dup { fill: #C30; }        /* Democratic Unionist Party */
svg path.respect { fill: #F60; }    /* Respect Party (George Galloway) */
svg path.ind { fill: #C0C0C0; }     /* independent candidate */
svg path.grn, svg path.green {fill: #0F0;}
svg path.seat { stroke: black; stroke-width: 0.3; }
svg path.ukip { fill: #7027C3;}
svg path.other {fill: #FAA51A;}

svg polygon.labour { fill: #F00; }
svg polygon.tory { fill: #33C; }
svg polygon.libdem { fill: #FC0; }
svg polygon.snp { fill: #FF0; }
svg polygon.pc { fill: #6C3; }
svg polygon.sf { fill: #060; }
svg polygon.sdlp { fill: #3C3; }
svg polygon.uup { fill: #99F; }
svg polygon.dup { fill: #C30; }
svg polygon.respect { fill: #F60; }
svg polygon.ind { fill: #C0C0C0; }
svg polygon.grn, svg path.green {fill: #0F0;}
svg polygon.ukip { fill: #7027C3;}
svg polygon.other {fill: #FAA51A;}


.legend {
    position: absolute;
    top: 370px;
    right: 15px;
    width: 400px;
    height: auto;
}

.legend ul{
    list-style: none;
}

.legend ul li{
    margin-left: 20px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 5px;
}

.legend ul li:before{
    content: ' \25CF';
    font-size: 30px;
}

.legend ul li.labour:before {
    color: #f00;
}
.legend ul li.tory:before {
    color: #33C;
}
.legend ul li.libdem:before {
    color: #FC0;
}
.legend ul li.ukip:before {
    color: #7027C3;
}
.legend ul li.grn:before {
    color: #0F0;
}
.legend ul li.snp:before {
    color: #FF0;
}
.legend ul li.pc:before {
    color: #6C3;
}
.legend ul li.other:before {
    color: #FAA51A;
}
