@font-face {
    font-family: caslon;
    src: url(fonts/Adobe%20Caslon%20Pro%20Regular.ttf);
}

html {
    webkit-text-size-adjust: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-height: 560px;
}

*{
    box-sizing: border-box;
    font-family: caslon, sans-serif;
}

.title-container{
    display: table-cell;
    background-color: #003142;
    color: white;
    width: 75px;
    height: 100vh;
    float: left;
}

.title-container a img{
    border: 0;
    width: 35px;
    height: 35px;
    margin-left: 20px;
    margin-top: 20px;
}

.title-container h1{
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-top: calc(100vh - 200px);
    text-transform: uppercase;
    font-style: normal;
    font-size: 18px;

}

.title-container h1:before{
    position: absolute;
    top:-20px;
    left: -67px;
    content:url('../images/header_Icon.png');
}




.svg-container{
    padding: 0;
    float: left;
    width: calc(60% - 76px);
    height: 100vh;
}

.side-controls {
    width: 40%;

    float: left;
    padding-left: 10px;
    padding-right: 0;
    padding-right: 0;
    height: 100vh;
    border-left: 10px solid #003142;
    overflow: hidden;
}

svg {
    background-color: #83A2B8;
    background: -webkit-radial-gradient(#b8def1, #7ebad8);
    background: -o-radial-gradient(#b8def1, #7ebad8);
    background: -moz-radial-gradient(#b8def1, #7ebad8);
    background: radial-gradient(#b8def1, #7ebad8);
}


.controls #reset {
    display: inline-block;
}


svg path:hover {
    opacity: 0.5;
}

svg path.selected:hover{
    opacity: 1;
}

svg.selected path:not(.selected) {
    opacity: 0.2;
}

svg *.seat { stroke: white; stroke-width: 0.2; }

svg *.labour { fill: #d50000; }     /* Labour Party */
svg *.tory { fill: #0087dc; }       /* Conservative Party */
svg *.libdem { fill: #FDBB30; }     /* Liberal Democrat Party */
svg *.snp { fill: #FFF95D; }        /* Scottish National Party */
svg *.pc { fill: #3F8428; }         /* Plaid Cymru */
svg *.green {fill: #008066;}
svg *.ukip { fill: #5A1B7F;}
svg *.other {fill: #FAA51A;}

svg *.sf { fill: #060; }         /* Sinn Féin */
svg *.sdlp { fill: #3C3; }       /* Social Democratic and Labour Party */
svg *.uup { fill: #99F; }        /* Ulster Unionist Party */
svg *.dup { fill: #C30; }        /* Democratic Unionist Party */
svg *.respect { fill: #F60; }    /* Respect Party (George Galloway) */
svg *.ind { fill: #C0C0C0; }     /* independent candidate */


.labour .progress-bar {
    background-color: #d50000;
}
.tory .progress-bar {
    background-color: #0087dc;
}
.libdem .progress-bar {
    background-color: #FDBB30;
}
.snp .progress-bar {
    background-color: #FFF95D;
}
.pc .progress-bar {
    background-color: #3F8428;
}
.green .progress-bar {
    background-color: #008066;
}
.ukip .progress-bar {
    background-color: #5A1B7F;
}
.other .progress-bar {
    background-color: #C0C0C0;
}

.labour input {
    border-color: #d50000 !important;
}
.tory input {
    border-color: #0087dc !important;
}
.libdem input {
    border-color: #FDBB30 !important;
}
.snp input {
    border-color: #FFF95D !important;
}
.pc input {
    border-color: #3F8428 !important;
}
.green input {
    border-color: #008066 !important;
}
.ukip input {
    border-color: #5A1B7F !important;
}
.other input {
    border-color: #C0C0C0 !important;
}


.color.labour  {
    background-color: #d50000;
}
.color.tory  {
    background-color: #0087dc;
}
.color.libdem {
    background-color: #FDBB30;
}
.color.snp  {
    background-color: #FFF95D;
}
.color.pc  {
    background-color: #3F8428;
}
.color.green {
    background-color: #008066;
}
.color.ukip  {
    background-color: #5A1B7F;
}
.color.other  {
    background-color: #C0C0C0;
}




.labour .logo {
    background: url(../images/labour_lrg.png) no-repeat;
    background-size: contain;
}
.tory .logo {
    background: url(../images/tory_lrg.png) no-repeat;
    background-size: contain;
}
.libdem .logo {
    background: url(../images/libdem_lrg.png) no-repeat;
    background-size: contain;
}
.snp .logo {
    background: url(../images/snp_lrg.png) no-repeat;
    background-size: contain;
}
.pc .logo {
    background: url(../images/pc_lrg.png) no-repeat;
    background-size: contain;
}
.green .logo {
    background: url(../images/green_lrg.png) no-repeat;
    background-size: contain;
}
.ukip .logo {
    background: url(../images/ukip_lrg.png) no-repeat;
    background-size: contain;
}
.other .logo {
    background: url(../images/others_lrg.png) no-repeat;
    background-size: contain;
}



.progress-bar{
    float: left;
    height: 100%;
    font-size: 12px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    transition: width .6s ease;
    box-shadow: inset 0 -8px 0 rgba(0,0,0,.25);
}

.progress .dragging *{
    cursor: pointer;
}

.progress-bar.active{
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.nav.nav-tabs.tabs-left{
    height: 100vh;
    background-color: #003142;
    color: white;
    padding-left: 2px;
    padding-right: 0;
}

.controls .party-row{
    vertical-align: top;
    height: 33px;
    line-height: 30px;
    width: 600px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select:none;
}

.controls .party-row span.logo {
    display: inline;
    width: 40px;
    height: 30px;
    float: left;
}

.controls .party-row input {
    vertical-align: top;
    display: inline-block;
    width: 50px;
    border: 1px solid;
    padding-left: 5px;
    font-size: 12px;
    height: 30px;
    margin-right: -4px;
}

.controls .party-row .input:before {
    content: '%';
    font-size: 10px;
    position: absolute;
    margin-left: 28px;
}

.controls .party-row span.progress {
    display: inline-block;
    width: 50%;
    height: 30px;
    margin: 0;
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
}

.controls .party-row span.value {
    display: inline;
    vertical-align: middle;
    color: #999;
    font-size: 9px;
    font-style: italic;
    padding-left: 8px;
}

.controls .party-row .handle {
    height: 100%;
    line-height: 30px;
    width: 10px;
    color: white;
    font-size: 8px;
    font-weight: lighter;
    float: right;
    cursor: col-resize;
    background-color: black;
    opacity: .3;
}

.hidden {
    display: none!important;
    visibility: hidden!important;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.detail{
    background-color: white;
    position: absolute;
    bottom: 10px;
    left: 85px;
    width: 220px;
    height: 150px;
    overflow-y: scroll;
 
    box-shadow: 0px 1px 14px rgba(0,0,0,0.4);
    text-align: left;
    color: #222;
    font-size: 12px;

}

.detail h3{
    margin-top: -10px;
    margin-bottom: 1px;
    font-size: 15px;
}

.detail table{
    margin:  20px 10px 10px 10px;
    width: 200px;
}

.detail td{
    margin: 2px;
}

.detail .color{
    width: 12px;
    height: 12px;
}


select.scenarios {
    font-size: 16px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid darkgray;
    line-height: 1;
    outline: 0;
    border-radius: 3px;
    background-color: white;
    padding: 0.65em 2.5em 0.55em 0.75em;
}

.current-projection-result{
    position: absolute;
    bottom: 10px;
    left: calc(60% + 10px);
    width: calc(40% - 20px);
}

.current-projection-result .winner{
    width: 100%;
    height: 66px;
}

.winner span.logo {
    display: inline;
    width: 66px;
    height: 66px;
    float: left;
    background-size: contain;
}

.winner span.description {
    padding-left: 10px;
    display: inline;
    line-height: 66px;
}



#tooltip{
    background: #003142;
    opacity: 0.75;

    color: #fff;    
    padding: 5px 19px;
    position: absolute;
    z-index: 198;

    font-family: caslon,sans,arial;
    
}

@media screen and (max-width: 760px), screen and (max-height: 560px) {
    body:after {
        content:'This app is designed for screens larger than 800 x 600.';
        position:absolute;
        top: 10px;
        left: 10px;
        width: auto;
        height: auto;
        background: #003142;
        opacity: 0.75;
        color: white;
        font-size: 52px;
    }
}
